<!DOCTYPE html>
<html lang="en" th:lang="${#locale.language}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="#{service_detail.title}">Services list</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" rel="stylesheet"
          type="text/css" th:href="@{/webjars/font-awesome/css/all.min.css}">
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a href="#" class="navbar-brand" th:href="@{/}"> <!-- TODO: admin link -->
            <img src="../static/img/logo.png" th:src="@{/img/logo.png}" class="navbar-logo" alt="Logo"/>
            <span class="m-3" th:text="#{nav.title}">List of Services</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-row-reverse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${site == 'home'} ? 'active'" aria-current="page" href="#" th:href="@{/}" th:text="#{nav.link.home}">Home</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link" href="#" th:classappend="${site == 'create'} ? 'active'" th:href="@{/admin/create}" th:text="#{nav.link.create_entry}">Create entry</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="#{nav.link.language}">
                        Language
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"
                        th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">
                        <li th:each="locale_key : ${locales}">
                            <a class="dropdown-item" href="#" th:text="#{'nav.locale.' + ${locale_key}}"
                               th:href="${urlBuilder.replaceQueryParam('locale', locale_key).toUriString()}">English</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="btn btn-outline btn-outline-secondary" href="#" th:href="@{/login_init}" th:text="#{nav.link.admin}">Admin login</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <form action="#" th:action="@{/logout}" method="POST">
                        <button class="btn btn-outline btn-outline-secondary" type="submit" th:text="#{nav.link.logout}">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container" th:object="${service}">
    <!-- HEADER -->
    <header class="row mt-3 mb-3">
        <div class="col-12" th:classappend="${#authorization.expr('hasRole(''ROLE_ADMIN'')')} ? 'col-sm-10'" th:with="name=${service.name?.getOrDefault(#locale.language, null) ?: service.name?.getOrDefault(defaultLocale, null)},notdefined=#{not_defined_text}">
            <h2 th:text="#{service_detail.header.heading(${service.id}, ${name ?: notdefined})}">Service #1: Test service</h2>
            <p th:text="${service.description?.getOrDefault(#locale.language, null)} ?: ${service.description?.getOrDefault(defaultLocale, notdefined)}">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed convallis magna eu sem. Mauris tincidunt sem sed arcu. In rutrum. In sem justo, commodo ut, suscipit at, pharetra vitae, orci. Integer imperdiet lectus quis justo. Phasellus rhoncus. Pellentesque sapien. Etiam egestas wisi a erat. Donec ipsum massa, ullamcorper in, auctor et, scelerisque sed, est. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col-12 col-sm-2" sec:authorize="hasRole('ROLE_ADMIN')">
            <div class="d-grid gap-2">
                <a href="#" class="btn btn-primary" th:href="@{/admin/update/{id}(id=${service.id})}" th:text="#{service_detail.header.button_modify}">Modify</a>
                <a href="#" class="btn btn-danger" th:href="@{/admin/remove/{id}(id=${service.id})}" th:text="#{service_detail.header.button_remove}">Remove</a>
            </div>
        </div>
        <div class="col-12">
            <hr/>
        </div>
    </header>
    <!-- MAIN CONTENT -->
    <div class="row mb-5">
        <ul class="nav nav-tabs" id="serviceDetailTab" role="tablist" th:if="${#lists.size(locales) > 1}">
            <li class="nav-item" role="presentation" th:each="locale_key : ${locales}" th:with="active=${#strings.equalsIgnoreCase(locale_key, #locale.language)}">
                <a class="nav-link" id="tab-example" aria-current="page" aria-controls="tab-1" href="#tab-1"
                   data-bs-toggle="tab" role="tab"
                   th:class="${active} ? 'nav-link active' : 'nav-link'"
                   th:id="${locale_key + '-tab'}"
                   th:href="@{#tab-{locale}(locale=${locale_key})}"
                   th:aria-controls="${'tab-' + locale_key}"
                   th:aria-selected="${active}"
                   th:text="#{'nav.locale.' + ${locale_key}}">English</a>
            </li>
        </ul>
        <div class="tab-content p-0" id="serviceDetailTabContent" th:if="${#lists.size(locales) > 1}">
            <div class="tab-pane" id="tab-1" role="tabpanel" th:each="locale_key : ${locales}"
                 th:with="active=${#strings.equalsIgnoreCase(locale_key, #locale.language)}"
                 th:id="${'tab-' + locale_key}"
                 th:class="${active} ? 'tab-pane fade show active' : 'tab-pane fade'"
                 th:aria-labbeledby="${locale_key + '-tab'}">
                <div class="accordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panel-service-heading">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panel-service"
                                    aria-expanded="true" aria-controls="panel-service" th:text="#{service_detail.section.service_details.heading}">Service details</button>
                        </h2>
                        <div id="panel-service" class="accordion-collapse collapse fade show" aria-labelledby="panel-service-heading">
                            <div class="accordion-body container">
                                <div class="row">
                                    <div class="col-12">
                                        <div th:with="value=${service.name?.getOrDefault(locale_key, null)}">
                                            <b th:text="#{service_detail.section.service_details.name}">Name:</b>
                                            <span th:if="${value == null}" th:text="#{not_defined}">United Kingdom</span>
                                            <span th:unless="${value == null}" th:text="${value}">United Kingdom</span>
                                        </div>
                                        <div th:with="value=${service.description?.getOrDefault(locale_key, null)}">
                                            <b th:text="#{service_detail.section.service_details.description}">Description:</b>
                                            <span th:if="${value == null}" th:text="#{not_defined}">United Kingdom</span>
                                            <span th:unless="${value == null}" th:text="${value}">United Kingdom</span>
                                        </div>
                                    </div>
                                </div>
                                <hr class="mb-3"/>
                                <div class="row">
                                    <div class="col-12 col-md-6 mb-4 mb-md-0">
                                        <div th:with="value=${service.loginUrl}">
                                            <b th:text="#{service_detail.section.service_details.login_url}">Login link:</b>
                                            <span th:if="${value == null}" th:text="#{not_defined}">test@test.com</span>
                                            <a th:unless="${value == null}" th:href="@{${value}}" th:text="${value}" href="#" target="_blank">https://www.google.com</a>
                                        </div>
                                        <div th:with="value=${service.websiteUrl}">
                                            <b th:text="#{service_detail.section.service_details.website}">Website:</b>
                                            <span th:if="${value == null}" th:text="#{not_defined}">test@test.com</span>
                                            <a th:unless="${value == null}" th:href="@{${value}}" th:text="${value}" href="#" target="_blank">https://www.google.com</a>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div th:with="value=${service.jurisdiction}">
                                            <b th:text="#{service_detail.section.service_details.jurisdiction}">Jurisdiction:</b>
                                            <span th:if="${value == null}" th:text="#{not_defined}">United Kingdom</span>
                                            <span th:unless="${value == null}" th:text="${value}">United Kingdom</span>
                                        </div>
                                        <div th:with="value=${service.privacyPolicy?.getOrDefault(locale_key, null)}">
                                            <b th:text="#{service_detail.section.service_details.privacy_policy}">Privacy Policy:</b>
                                            <span th:if="${value == null}" th:text="#{not_defined}">test@test.com</span>
                                            <a th:unless="${value == null}" th:href="@{${value}}" th:text="${value}" href="#" target="_blank">https://www.google.com</a>
                                        </div>
                                        <div th:with="value=${service.aupTos?.getOrDefault(locale_key, null)}">
                                            <b th:text="#{service_detail.section.service_details.aup_tos}">AUP/Terms of Service:</b>
                                            <span th:if="${value == null}" th:text="#{not_defined}">test@test.com</span>
                                            <a th:unless="${value == null}" th:href="@{${value}}" th:text="${value}" href="#" target="_blank">https://www.google.com</a>
                                        </div>
                                        <div th:with="value=${service.incidentResponsePolicy?.getOrDefault(locale_key, null)}">
                                            <b th:text="#{service_detail.section.service_details.incident_response_policy}">Incident Response Policy:</b>
                                            <span th:if="${value == null}" th:text="#{not_defined}">test@test.com</span>
                                            <a th:unless="${value == null}" th:href="@{${value}}" th:text="${value}" href="#" target="_blank">https://www.google.com</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panel-organization-heading">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panel-organization"
                                    aria-expanded="true" aria-controls="panel-service" th:text="#{service_detail.section.providing_organization.heading}">Providing organization</button>
                        </h2>
                        <div id="panel-organization" class="accordion-collapse collapse show" aria-labelledby="panel-organization-heading">
                            <div class="accordion-body container">
                                <div class="row">
                                    <div class="col-12 col-md-6" th:with="value=${service.providingOrganization?.getOrDefault(locale_key, null)}">
                                        <b th:text="#{service_detail.section.providing_organization.name}">Name:</b>
                                        <span th:if="${value == null}" th:text="#{not_defined}">https://www.google.com</span>
                                        <span th:unless="${value == null}" th:text="${value}">EMBL-EBI</span>
                                    </div>
                                    <div class="col-12 col-md-6" th:with="value=${service.providingOrganizationWebsite?.getOrDefault(locale_key, null)}">
                                        <b th:text="#{service_detail.section.providing_organization.website}">Website:</b>
                                        <span th:if="${value == null}" th:text="#{not_defined}">https://www.google.com</span>
                                        <a th:unless="${value == null}" th:href="@{${value}}" th:text="${value}" href="#" target="_blank">https://www.google.com</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="panel-contacts-heading">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panel-contacts"
                                aria-expanded="true" aria-controls="panel-service" th:text="#{service_detail.section.contacts.heading}">Contacts</button>
                    </h2>
                    <div id="panel-contacts" class="accordion-collapse collapse show" aria-labelledby="panel-contacts-heading">
                        <div class="accordion-body container">
                            <div class="row">
                                <div class="col-12 col-md-6" th:with="value=${service.helpdeskContact}">
                                    <b th:text="#{service_detail.section.contacts.helpdesk_contact}">Helpdesk:</b>
                                    <span th:if="${value == null}" th:text="#{not_defined}">test@test.com</span>
                                    <a href="#" th:unless="${value == null}" th:href="'mailto:' + ${value}" th:text="${value}">test@test.com</a>
                                </div>
                                <div class="col-12 col-md-6" th:with="value=${service.administrativeContact}">
                                    <b th:text="#{service_detail.section.contacts.administrative_contact}">Administrative:</b>
                                    <span th:if="${value == null}" th:text="#{not_defined}">test@test.com</span>
                                    <a href="#" th:unless="${value == null}" th:href="'mailto:' + ${value}" th:text="${value}">test@test.com</a>
                                </div>
                                <div class="col-12 col-md-6" th:with="value=${service.technicalContact}">
                                    <b th:text="#{service_detail.section.contacts.technical_contact}">Technical:</b>
                                    <span th:if="${value == null}" th:text="#{not_defined}">test@test.com</span>
                                    <a href="#" th:unless="${value == null}" th:href="'mailto:' + ${service.technicalContact}" th:text="${value}">test@test.com</a>
                                </div>
                                <div class="col-12 col-md-6" th:with="value=${service.securityContact}">
                                    <b th:text="#{service_detail.section.contacts.security_contact}">Security:</b>
                                    <span th:if="${value == null}" th:text="#{not_defined}">test@test.com</span>
                                    <a href="#" th:unless="${value == null}" th:href="'mailto:' + ${value}" th:text="${value}">test@test.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="accordion" th:unless="${#lists.size(locales) > 1}">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panel-service-heading">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panel-service"
                            aria-expanded="true" aria-controls="panel-service" th:text="#{service_detail.section.service_details.heading}">Service details</button>
                </h2>
                <div id="panel-service" class="accordion-collapse collapse fade show" aria-labelledby="panel-service-heading">
                    <div class="accordion-body container">
                        <div class="row">
                            <div class="col-12">
                                <div th:with="value=${service.name?.getOrDefault(locale_key, null)}">
                                    <b th:text="#{service_detail.section.service_details.name}">Name:</b>
                                    <span th:if="${value == null}" th:text="#{not_defined}">United Kingdom</span>
                                    <span th:unless="${value == null}" th:text="${value}">United Kingdom</span>
                                </div>
                                <div th:with="value=${service.description?.getOrDefault(locale_key, null)}">
                                    <b th:text="#{service_detail.section.service_details.description}">Description:</b>
                                    <span th:if="${value == null}" th:text="#{not_defined}">United Kingdom</span>
                                    <span th:unless="${value == null}" th:text="${value}">United Kingdom</span>
                                </div>
                            </div>
                        </div>
                        <hr class="mb-3"/>
                        <div class="row">
                            <div class="col-12 col-md-6 mb-4 mb-md-0">
                                <div th:with="value=${service.loginUrl}">
                                    <b th:text="#{service_detail.section.service_details.login_url}">Login link:</b>
                                    <span th:if="${value == null}" th:text="#{not_defined}">test@test.com</span>
                                    <a th:unless="${value == null}" th:href="@{${value}}" th:text="${value}" href="#" target="_blank">https://www.google.com</a>
                                </div>
                                <div th:with="value=${service.websiteUrl}">
                                    <b th:text="#{service_detail.section.service_details.website}">Website:</b>
                                    <span th:if="${value == null}" th:text="#{not_defined}">test@test.com</span>
                                    <a th:unless="${value == null}" th:href="@{${value}}" th:text="${value}" href="#" target="_blank">https://www.google.com</a>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div th:with="value=${service.jurisdiction}">
                                    <b th:text="#{service_detail.section.service_details.jurisdiction}">Jurisdiction:</b>
                                    <span th:if="${value == null}" th:text="#{not_defined}">United Kingdom</span>
                                    <span th:unless="${value == null}" th:text="${value}">United Kingdom</span>
                                </div>
                                <div th:with="value=${service.privacyPolicy?.getOrDefault(locale_key, null)}">
                                    <b th:text="#{service_detail.section.service_details.privacy_policy}">Privacy Policy:</b>
                                    <span th:if="${value == null}" th:text="#{not_defined}">test@test.com</span>
                                    <a th:unless="${value == null}" th:href="@{${value}}" th:text="${value}" href="#" target="_blank">https://www.google.com</a>
                                </div>
                                <div th:with="value=${service.aupTos?.getOrDefault(locale_key, null)}">
                                    <b th:text="#{service_detail.section.service_details.aup_tos}">AUP/Terms of Service:</b>
                                    <span th:if="${value == null}" th:text="#{not_defined}">test@test.com</span>
                                    <a th:unless="${value == null}" th:href="@{${value}}" th:text="${value}" href="#" target="_blank">https://www.google.com</a>
                                </div>
                                <div th:with="value=${service.incidentResponsePolicy?.getOrDefault(locale_key, null)}">
                                    <b th:text="#{service_detail.section.service_details.incident_response_policy}">Incident Response Policy:</b>
                                    <span th:if="${value == null}" th:text="#{not_defined}">test@test.com</span>
                                    <a th:unless="${value == null}" th:href="@{${value}}" th:text="${value}" href="#" target="_blank">https://www.google.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panel-organization-heading">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panel-organization"
                            aria-expanded="true" aria-controls="panel-service" th:text="#{service_detail.section.providing_organization.heading}">Providing organization</button>
                </h2>
                <div id="panel-organization" class="accordion-collapse collapse show" aria-labelledby="panel-organization-heading">
                    <div class="accordion-body container">
                        <div class="row">
                            <div class="col-12 col-md-6" th:with="value=${service.providingOrganization?.getOrDefault(locale_key, null)}">
                                <b th:text="#{service_detail.section.providing_organization.name}">Name:</b>
                                <span th:if="${value == null}" th:text="#{not_defined}">https://www.google.com</span>
                                <span th:unless="${value == null}" th:text="${value}">EMBL-EBI</span>
                            </div>
                            <div class="col-12 col-md-6" th:with="value=${service.providingOrganizationWebsite?.getOrDefault(locale_key, null)}">
                                <b th:text="#{service_detail.section.providing_organization.website}">Website:</b>
                                <span th:if="${value == null}" th:text="#{not_defined}">https://www.google.com</span>
                                <a th:unless="${value == null}" th:href="@{${value}}" th:text="${value}" href="#" target="_blank">https://www.google.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panel-contacts-heading">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panel-contacts"
                            aria-expanded="true" aria-controls="panel-service" th:text="#{service_detail.section.contacts.heading}">Contacts</button>
                </h2>
                <div id="panel-contacts" class="accordion-collapse collapse show" aria-labelledby="panel-contacts-heading">
                    <div class="accordion-body container">
                        <div class="row">
                            <div class="col-12 col-md-6" th:with="value=${service.helpdeskContact}">
                                <b th:text="#{service_detail.section.contacts.helpdesk_contact}">Helpdesk:</b>
                                <span th:if="${value == null}" th:text="#{not_defined}">test@test.com</span>
                                <a href="#" th:unless="${value == null}" th:href="'mailto:' + ${value}" th:text="${value}">test@test.com</a>
                            </div>
                            <div class="col-12 col-md-6" th:with="value=${service.administrativeContact}">
                                <b th:text="#{service_detail.section.contacts.administrative_contact}">Administrative:</b>
                                <span th:if="${value == null}" th:text="#{not_defined}">test@test.com</span>
                                <a href="#" th:unless="${value == null}" th:href="'mailto:' + ${value}" th:text="${value}">test@test.com</a>
                            </div>
                            <div class="col-12 col-md-6" th:with="value=${service.technicalContact}">
                                <b th:text="#{service_detail.section.contacts.technical_contact}">Technical:</b>
                                <span th:if="${value == null}" th:text="#{not_defined}">test@test.com</span>
                                <a href="#" th:unless="${value == null}" th:href="'mailto:' + ${service.technicalContact}" th:text="${value}">test@test.com</a>
                            </div>
                            <div class="col-12 col-md-6" th:with="value=${service.securityContact}">
                                <b th:text="#{service_detail.section.contacts.security_contact}">Security:</b>
                                <span th:if="${value == null}" th:text="#{not_defined}">test@test.com</span>
                                <a href="#" th:unless="${value == null}" th:href="'mailto:' + ${value}" th:text="${value}">test@test.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FOOTER -->
<footer class="text-light bg-dark mt-5">
    <div class="container">
        <div class="aclr">
            <div class="col">
                <div>
                    <p id="eu" class="small">This project has received funding from the European Union’s Horizon 2020 research and innovation programme under grant agreement No 654248.</p>
                </div>
            </div>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/contact.html">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/imprint.html">Imprint</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/privacy-policy.html">Privacy policy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ls-login.html">LS Login</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
</body>
<!-- SCRIPTS -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"
        th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="../static/js/script.js" th:src="@{/js/script.js}"></script>
</html>